button {
    background-color: #c60bff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height : 20vh;
  }
  
body{
    font-family:sans-serif;
    font-size: 5em;
align-items: center;
   
    
    height: 10vh;
    left : 100px;
}
  
dogmeme.jpg{ 
    position: relative;
  siz
    align-items: "right";
}
